/* ---------------------------------------- */
/* GENERAL SETTINGS */
/* ---------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #555;
  text-rendering: optimizeLegibility;
}

html,
body {
  font-weight: 300;
  font-size: 20px;
  font-family: "Lato", "Arial", sans-serif;
  overflow-x: hidden;
}

/* ---------------------------------------- */
/* HEADER */
/* ---------------------------------------- */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/header-background.jpg);
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  height: 100vh;
}

/* ------- LOGO ------- */

/* ------- NAVIGATION ------- */

.header__nav {
  display: flex;
  align-items: stretch;
  height: 20vh;
}

.nav {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.header__nav li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px;
  list-style: none;
}

.header__nav a:link,
.header__nav a:visited {
  padding-bottom: 8px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.header__nav a:hover,
.header__nav a:active {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid #e67e22;
}

/* ------- SLOGAN ------- */

.header__slogan {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
  width: 1140px;
}

/* ---------------------------------------- */
/* FEATURES */
/* ---------------------------------------- */

.features {
  display: flex;
}

.features__item {
  flex: 1;
  padding: 1%;
}

.features__header p {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.features__item p {
  font-size: 90%;
  line-height: 145%;
}

.features__item i {
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
}

/* ---------------------------------------- */
/* PHOTOS */
/* ---------------------------------------- */

.photos {
  padding-top: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.photos div {
  width: 25%;
  overflow: hidden;
  background-color: #000;
}

.photos img {
  width: 100%;
  height: auto;
  opacity: 0.7;
  transform: scale(1.15);
  transition: all 0.5s;
}

.photos img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/* ---------------------------------------- */
/* HOW IT WORKS */
/* ---------------------------------------- */

.howItWorks {
  background-color: #f4f4f4;
}

.howItWorks__wrapper {
  display: flex;
}

.howItworks__item {
  list-style-type: none;
  padding: 20px 70px;
  display: flex;
}

.howItworks__orderNumber {
  display: block;
  color: #e67e22;
  border: 1px solid #e67e22;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.howItworks__text {
  padding: 0px 20px;
}

.howItWorks__download {
  padding-top: 50px;
  padding-left: 70px;
}

.howItWorks__smartphone {
  height: 400px;
}

.howItWorks__download img {
  height: 70px;
  padding-right: 20px;
}

/* ---------------------------------------- */
/* CITIES */
/* ---------------------------------------- */

.cities_wrapper {
  display: flex;
}

.cities__item {
  width: 25%;
  padding: 10px 25px;
}

.cities__image img {
  width: 100%;
  padding-bottom: 20px;
}

.cities .fa {
  display: inline-block;
  margin-right: 15px;
  color: #e67e22;
}

/* ---------------------------------------- */
/* TESTIMONIALS */
/* ---------------------------------------- */

.testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(img/header-background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.testimonials__header {
  color: #ddd;
}

.testimonials__wrapper {
  display: flex;
  font-style: italic;
}

.testimonials__item {
  padding: 10px 15px;
  margin-top: 30px;
  position: relative;
}

.testimonials__quote {
  line-height: 145%;
  color: #ddd;
}

.testimonials__quote:before {
  content: "\201C";
  font-size: 300%;
  position: absolute;
  top: -10px;
  left: 0;
}

.testimonials__image {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

.testimonials__cite {
  display: block;
  margin-top: 20px;
  font-size: 90%;
  color: #ddd;
}

/* ---------------------------------------- */
/* SIGN UP */
/* ---------------------------------------- */

.signUp {
  background-color: #f4f4f4;
}

.signUp__wrapper {
  display: flex;
}

.signUp__item {
  width: 33.3%;
  background-color: transparent;
  margin: 20px;
  border-radius: 10px;
}

.signUp__top {
  background-color: #fcfcfc;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
}

.signUp__middle {
  background-color: #fff;
  margin: 1px 0;
  padding: 20px 30px;
}

.signUp__bottom {
  background-color: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 0;
  text-align: center;
}

.signUp__price {
  color: #e67e22;
}

.signUp__price--big {
  font-size: 350%;
  font-weight: 100;
}

.signUp__priceDay {
  font-size: 80%;
}

.signUp__features {
  list-style: none;
}

.signUp__feature {
  line-height: 170%;
}

.signUp__features .fa {
  color: #e67e22;
  margin-right: 15px;
}

/* ---------------------------------------- */
/* CONTACT FORM */
/* ---------------------------------------- */

.contactForm {
  width: 60%;
  margin: 40px auto 0 auto;
}

.contactForm__row {
  display: flex;
  margin: 20px 0;
}

.contactForm__label {
  width: 20%;
}

.contactForm__field {
  width: 80%;
}

/* ---------------------------------------- */
/* FOOTER */
/* ---------------------------------------- */

.footer {
  background-color: #333;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__navAndSocial {
  display: flex;
}

.navAndSocial__item {
  width: 50%;
}

.footerNav__link:link,
.footerNav__link:active,
.footerNav__link:visited {
  font-size: 80%;
  border: none;
  margin-right: 20px;
  color: #888;
  transition: color 0.2s;
}

.footerNav__link:hover {
  color: #ccc;
}

.footerSocial__icon:link,
.footerSocial__icon:active,
.footerSocial__icon:visited {
  margin-left: 20px;
  border: none;
}

.footerSocial__icon:hover .fa {
  transition: color 0.2s;
}

.footerSocial__icon:hover .fa {
  color: #ccc;
}

.footerSocial__icon .fa {
  color: #888;
  font-size: 90%;
}

.footerSocial {
  text-align: right;
}

.footer__rights {
  color: #888;
  font-size: 80%;
  padding-top: 30px;
  text-align: center;
}

/* ---------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------- */

section {
  padding: 80px;
}

/* ------- HEADINGS ------- */

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2 {
  margin-bottom: 30px;
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  letter-spacing: 1px;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

/* ------- WRAPPERS ------- */

.section {
  max-width: 1140px;
  margin: 0 auto;
}

/* ------- BUTTONS ------- */

.btn:link,
.btn:active,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  margin-right: 15px;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #e67e22;
  border: 1px solid #e67e22;
  transition: all 0.2s;
  cursor: pointer;
}

.btn--filled:link,
.btn--filled:active,
.btn--filled:visited,
input[type="submit"] {
  background-color: #e67e22;
  color: #fff;
}

.btn:hover,
.btn--filled:hover {
  background-color: #cf6d17;
  border: 1px solid #cf6d17;
  color: #fff;
}

/* ------- LINKS ------- */

a:link,
a:active,
a:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid #e67e22;
  transition: all 0.2s;
}

a:hover {
  color: inherit;
  border-bottom: 1px solid transparent;
}

/* ------- FORMS ------- */

label {
  width: 90%;
  text-align: right;
  margin-right: 25px;
}

input:not([type="checkbox"]):not([type="submit"]),
select,
textarea {
  width: 90%;
  padding: 7px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 100px;
}

input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

*:focus {
  outline: none;
}
